body {
    font-family:arial, sans-serif;
    font-size: 16px;       /*文字サイズ*/
}

#clndr {
    /* width: 504px;*/
    margin: 0 auto;
    text-align: center;
}
  
.clndr-controls {
    display: flex;
    font-size: 20px;
    height: 35px;
}
  
.clndr-control-button {
    width: 20%;
}
.clndr-previous-button,
.clndr-next-button {
    width: 100%;
    cursor: pointer;
    display: block;
    transition: all .8s ease;
    background: #AACC05;
    color: #fff;
}
.clndr-previous-button:hover,
.clndr-next-button:hover {
    background: linear-gradient(90deg,#ff4500,#ccf502,transparent,transparent);
    background-position: 20% 20%;
    background-size: 200% 200%;
    color: #000;
}
.month {
    width: 60%;
}
  
.clndr-table {
    width: 100%;
}

table thead tr td {
    line-height: 40px;
    background-color: #AACC05;
}
  
table tr .adjacent-month .day-contents {
    display: none;
}

td:first-child {
    color: red;
}

td:last-child {
    color: blue;
}

.day-contents {
    font-size: 25px;
    line-height: 40px;
    height: 72px;
}

.today .day-contents {
    color: #fff;
    background-color: #ff4500;
    border-radius: 80%;
}

#hmenu {
    height: 30px;
    background-color: #AACC05;
    /* padding: -1em 0em; */
    margin-bottom: 1em;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.clndr-next-button {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-bottom: 1em;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.clndr-previous-button {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-bottom: 1em;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.header-days {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-bottom: 1em;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

#space {
    height: 20px;
    background-color: #fff;
}

html.modalset {
    overflow: hidden;
  }
  .samplemodal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
  }
  .samplemodal-wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    /* padding: 20px; */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
  }
  .samplemodal-wrap::-webkit-scrollbar {
    display: none;
  }
  .samplemodal-wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
  }
  .samplemodal-bg {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    height: 100%;
  }
  .samplemodal-box {
    width: 80%;
    height: 90%;
    /* max-width: 900px; */
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .samplemodal-box .inner {
    height: 85%;
    background: #fff;
    text-align: left;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.32);/*影*/
  }
  .samplemodal-box .inner > :first-child {
    margin-top: 0;
  }

  .inner_header {
    height: 30px;
    background-color: #AACC05;
    color:  #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }

  .inner_body {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    padding: 0.5em 1em;
    margin: 2em 20px;
    color: #00BCD4;
    background: #FFFFFF;/*背景色*/
    /* border-top: solid 6px #1dc1d6; */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }